
<img src="6.jpeg" width="500">
<img src="5.jpeg" width="500">

# <span style="color: springgreen;">üåæCrop Production </span>

## <span style="color: springgreen;">‚úíÔ∏èObjective </span>

The primary objective of analyzing this dataset is to understand the factors influencing crop production and to develop predictive models that can accurately forecast crop yields. This analysis aims to provide valuable insights to farmers, agricultural policymakers, and researchers to optimize agricultural practices and improve productivity.

## <span style="color: springgreen;">‚úíÔ∏èData Overview </span>

**The Dataset contains several key features of various crops produced in India. Below is a description for each features.**
- **Crop_Year**: The year in which the crop was harvested.
- **Season**: The season during which the crop was grown (e.g., Kharif, Rabi, Whole Year).
- **Crop**: The type of crop grown.
- **Area**: The area of land (in hectares) used for cultivation.
- **Production**: The total production of the crop (in tonnes).

## <span style="color: springgreen;">‚úíÔ∏èImport Required Libraries </span>

In [71]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import warnings 
warnings.filterwarnings("ignore")

In [72]:
#reading the dataset
df=pd.read_csv('Crop Production data.csv')

In [73]:
df.head()

,State_Name,District_Name,Crop_Year,Season,Crop,Area,Production
0,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Arecanut,1254.0,2000.0
1,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Other Kharif pulses,2.0,1.0
2,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Rice,102.0,321.0
3,Andaman and Nicobar Islands,NICOBARS,2000,Whole Year,Banana,176.0,641.0
4,Andaman and Nicobar Islands,NICOBARS,2000,Whole Year,Cashewnut,720.0,165.0

In [74]:
df.tail()

,State_Name,District_Name,Crop_Year,Season,Crop,Area,Production
246086,West Bengal,PURULIA,2014,Summer,Rice,306.0,801.0
246087,West Bengal,PURULIA,2014,Summer,Sesamum,627.0,463.0
246088,West Bengal,PURULIA,2014,Whole Year,Sugarcane,324.0,16250.0
246089,West Bengal,PURULIA,2014,Winter,Rice,279151.0,597899.0
246090,West Bengal,PURULIA,2014,Winter,Sesamum,175.0,88.0

In [75]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 246091 entries, 0 to 246090
Data columns (total 7 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   State_Name     246091 non-null  object
 1   District_Name  246091 non-null  object
 2   Crop_Year      246091 non-null  int64
 3   Season         246091 non-null  object
 4   Crop           246091 non-null  object
 5   Area           246091 non-null  float64
 6   Production     242361 non-null  float64
dtypes: float64(2), int64(1), object(4)
memory usage: 13.1+ MB

> **Note**-
The dataset contains 7 features includes 4 Nominal Categorical Variables,a date column and 2 Numerical Columns. It also have several Null values.

In [76]:
df.describe()

           Crop_Year          Area    Production
count  246091.000000  2.460910e+05  2.423610e+05
mean     2005.643018  1.200282e+04  5.825034e+05
std         4.952164  5.052340e+04  1.706581e+07
min      1997.000000  4.000000e-02  0.000000e+00
25%      2002.000000  8.000000e+01  8.800000e+01
50%      2006.000000  5.820000e+02  7.290000e+02
75%      2010.000000  4.392000e+03  7.023000e+03
max      2015.000000  8.580100e+06  1.250800e+09

In [77]:
df.duplicated().sum()

0

In [78]:
#Check for the null value presence in the dataset
round(df.isna().sum()/df.shape[0],3)*100

State_Name       0.0
District_Name    0.0
Crop_Year        0.0
Season           0.0
Crop             0.0
Area             0.0
Production       1.5
dtype: float64

> **Note**- 
There are 1.5% null values presents in the dataset, we can delete them as they have minimal impact on the Dataset.

## <span style="color: springgreen;">‚úíÔ∏èExploratory Data Analysis </span>

In [79]:
df.head()

,State_Name,District_Name,Crop_Year,Season,Crop,Area,Production
0,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Arecanut,1254.0,2000.0
1,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Other Kharif pulses,2.0,1.0
2,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Rice,102.0,321.0
3,Andaman and Nicobar Islands,NICOBARS,2000,Whole Year,Banana,176.0,641.0
4,Andaman and Nicobar Islands,NICOBARS,2000,Whole Year,Cashewnut,720.0,165.0

In [80]:
#Add the categorical and numerical features in Separate lists
cats=[col for col in df.columns if df[col].dtype=="O"]
nums=['Area','Production']

In [81]:
#check for the unique values in Season
df['Season'].unique()

array(['Kharif     ', 'Whole Year ', 'Autumn     ', 'Rabi       ',
       'Summer     ', 'Winter     '], dtype=object)

In [82]:
#Remove the extra spaces from the Values in Season
df['Season']=df['Season'].apply(lambda x : x.strip())
df['Season'].unique()

array(['Kharif', 'Whole Year', 'Autumn', 'Rabi', 'Summer', 'Winter'],
      dtype=object)

In [83]:
#Check for the value counts in Season Features
df['Season'].value_counts()

Season
Kharif        95951
Rabi          66987
Whole Year    57305
Summer        14841
Winter         6058
Autumn         4949
Name: count, dtype: int64

> **Note**- 


Since there are majorly 3 Crop Seasons such as: Kharif, Rabi and Zaid in India, however the dataset contains 6 Crop seasons (Kharif, Whole Year, Autumn, Autumn, Rabi, Summer, Winter).

- **Kharif Season**- This season includes the crops which are sown at the begining of Monsoon typically in June-july and harvested at the end of Monsoon (October-November).
- **Rabi Season** - The crops which are mainly sown in winter(October) and harvested in spring(March-April) are inclueded in Rabi Season Crops. 
- **Whole Year** - The crops which grown throughout the year, is termed as Whole Year Crops.
- **Summer Season**- Summer Season crops which is also knwon as Zaid Season. This includes the crops which are grown between Rabi and Kharif Season typically in March to June.
- **Autumn Season**- This can be classified into Kharif Season as the crops sown in june and harvested in October-November. 
- **Winter Season**- This season is also known as Rabi Season. They are also sown in winter(October) and harvested in spring(March-April).

In [84]:
#After the research we can replace the season like Summer, Autumn and Winter to Zaid, Kharif and Rabi respectively for better analysis
df['Season']=df['Season'].replace(['Summer','Autumn','Winter'],['Zaid','Kharif','Rabi'])
df['Season'].value_counts()

Season
Kharif        100900
Rabi           73045
Whole Year     57305
Zaid           14841
Name: count, dtype: int64

In [85]:
#check for the unique crops agricultured in different Seasons
for i in df['Season'].unique():
    print(f'Crops agricultured in {i}')
    print(df[df['Season']==i]['Crop'].unique())
    print(' ')

Crops agricultured in Kharif
['Arecanut' 'Other Kharif pulses' 'Rice' 'Sugarcane' 'Arhar/Tur' 'Bajra'
 'Castor seed' 'Cotton(lint)' 'Dry chillies' 'Groundnut' 'Horse-gram'
 'Jowar' 'Korra' 'Maize' 'Moong(Green Gram)' 'Ragi' 'Sunflower' 'Tobacco'
 'Masoor' 'Sesamum' 'Urad' 'Gram' 'Onion' 'other misc. pulses' 'Samai'
 'Small millets' 'Soyabean' 'Mesta' 'Cowpea(Lobia)' 'other oilseeds'
 'Brinjal' 'Coriander' 'Grapes' 'Lemon' 'Linseed' 'Mango' 'Papaya'
 'Pome Granet' 'Sapota' 'Tomato' 'Turmeric' 'Cabbage' 'Cashewnut' 'Potato'
 'Sweet potato' 'Niger seed' 'Tapioca' 'Dry ginger' 'Safflower' 'Varagu'
 'Jute' 'Paddy' 'Orange' 'Blackgram' 'Sannhamp' 'Guar seed' 'Coconut '
 'Banana' 'Moth' 'Other Cereals & Millets' 'Pulses total'
 'Peas & beans (Pulses)' 'Ginger' 'Garlic' 'Cond-spcs other' 'Wheat'
 'Barley' 'Rapeseed &Mustard' 'Black pepper' 'Total foodgrain' 'Kapas'
 'Cardamom' 'Tea' 'Colocosia' 'Oilseeds total' 'Bean' 'Jobster' 'Perilla'
 'Rajmash Kholar' 'Ricebean (nagadal)' 'Jute & mesta' 'Khesari']

Crops agricultured in Whole Year
['Banana' 'Cashewnut' 'Coconut ' 'Dry ginger' 'Sugarcane' 'Sweet potato'
 'Tapioca' 'Arecanut' 'Black pepper' 'Dry chillies' 'other oilseeds'
 'Turmeric' 'Tobacco' 'Onion' 'Coriander' 'Potato'
 'Beans & Mutter(Vegetable)' 'Bhindi' 'Brinjal' 'Citrus Fruit' 'Cucumber'
 'Grapes' 'Mango' 'Orange' 'other fibres' 'Other Fresh Fruits'
 'Other Vegetables' 'Papaya' 'Pome Fruit' 'Tomato' 'Sunflower'
 'Castor seed' 'Linseed' 'Safflower' 'Wheat' 'Rice' 'Cabbage'
 'Peas  (vegetable)' 'Bottle Gourd' 'Sannhamp' 'Garlic' 'Ginger'
 'Oilseeds total' 'Pulses total' 'Niger seed' 'Sesamum' 'Pineapple' 'Ragi'
 'Jowar' 'Cotton(lint)' 'Bajra' 'Maize' 'Guar seed' 'Turnip' 'Carrot'
 'Redish' 'Arcanut (Processed)' 'Atcanut (Raw)' 'Mesta'
 'Peas & beans (Pulses)' 'Cashewnut Processed' 'Cashewnut Raw' 'Cardamom'
 'Rubber' 'Bitter Gourd' 'Drum Stick' 'Jack Fruit' 'Snak Guard'
 'Cowpea(Lobia)' 'Moong(Green Gram)' 'Pump Kin' 'Tea' 'Coffee' 'Arhar/Tur'
 'Blackgram' 'Horse-gram' 'Groundnut' 'Small millets' 'Soyabean' 'Gram'
 'Cauliflower' 'Barley' 'Khesari' 'Masoor' 'Rapeseed &Mustard'
 'Other Citrus Fruit' 'Water Melon' 'Kapas' 'Total foodgrain' 'Urad'
 'Ash Gourd' 'Beet Root' 'Lab-Lab' 'Pome Granet' 'Ribed Guard' 'Yam'
 'Apple' 'Peach' 'Pear' 'Plums' 'Litchi' 'Ber' 'Other Dry Fruit'
 'Jute & mesta' 'Moth']

Crops agricultured in Rabi
['Arecanut' 'Black pepper' 'Cashewnut' 'Dry chillies' 'Dry ginger' 'Maize'
 'Moong(Green Gram)' 'Sweet potato' 'Turmeric' 'Urad' 'Arhar/Tur'
 'Groundnut' 'Sunflower' 'Gram' 'Horse-gram' 'Jowar' 'Korra' 'Ragi' 'Rice'
 'Wheat' 'Bajra' 'Linseed' 'Masoor' 'Safflower' 'Sesamum' 'Onion'
 'Small millets' 'Other  Rabi pulses' 'Rapeseed &Mustard' 'Cowpea(Lobia)'
 'Brinjal' 'Castor seed' 'Coriander' 'Cotton(lint)' 'Potato' 'Tobacco'
 'Tomato' 'Cabbage' 'Other Kharif pulses' 'other misc. pulses'
 'other oilseeds' 'Samai' 'Mesta' 'Varagu' 'Soyabean' 'Papaya'
 'Niger seed' 'Sugarcane' 'Peas & beans (Pulses)' 'Blackgram' 'Banana'
 'Ginger' 'Pineapple' 'Paddy' 'Barley' 'Khesari' 'Garlic' 'Jute'
 'Sannhamp' 'Other Cereals & Millets' 'Cond-spcs other' 'Pulses total'
 'Lentil' 'Oilseeds total' 'Rajmash Kholar' 'Tapioca' 'Total foodgrain'
 'Moth']

Crops agricultured in Zaid
['Rice' 'Paddy' 'Maize' 'Moong(Green Gram)' 'Onion' 'Sunflower' 'Bajra'
 'Groundnut' 'Sesamum' 'Urad' 'Jowar' 'Dry chillies' 'Cowpea(Lobia)'
 'Cotton(lint)' 'Peas & beans (Pulses)' 'Potato' 'Ragi' 'Dry ginger'
 'Jute' 'Sugarcane' 'Turmeric' 'Banana' 'Arhar/Tur' 'Wheat' 'Horse-gram'
 'Brinjal' 'Other  Rabi pulses' 'Tobacco' 'Small millets'
 'Total foodgrain' 'Pulses total']

In [86]:
df['Crop'].replace('Sannhamp','Sanhemp',inplace=True)

> **Note**

Overall, the crop lists for each season are mostly accurate, though there are a few minor overlaps where some crops can be cultivated in multiple seasons depending on regional agricultural practices.

In [87]:
# Categorize crops into different categories 
fruits = ['Banana', 'Grapes', 'Lemon', 'Mango', 'Papaya', 'Pome Granet', 'Sapota',
    'Orange', 'Pineapple', 'Water Melon', 'Apple', 'Peach', 'Pear', 'Plums',
    'Litchi', 'Ber', 'Other Fresh Fruits', 'Citrus Fruit', 'Pome Fruit',
    'Jack Fruit','Other Citrus Fruit']

vegetables = ['Onion', 'Tomato', 'Cabbage', 'Potato', 'Sweet potato', 'Brinjal',
    'Coriander', 'Turmeric', 'Dry chillies', 'Cauliflower',
    'Bottle Gourd', 'Turnip', 'Carrot', 'Redish', 'Pump Kin', 'Ash Gourd',
    'Beet Root', 'Lab-Lab', 'Ribed Guard', 'Yam', 'Bhindi', 'Cucumber',
    'Bitter Gourd', 'Drum Stick', 'Snak Guard', 'Beans & Mutter(Vegetable)',
    'Peas  (vegetable)', 'Other Vegetables','Bean']

pulses = ['Arhar/Tur', 'Moong(Green Gram)', 'Urad', 'Gram', 'Masoor', 'Peas & beans (Pulses)',
    'Other Kharif pulses', 'other misc. pulses', 'Horse-gram', 'Cowpea(Lobia)',
    'Other  Rabi pulses', 'Blackgram', 'Rajmash Kholar', 'Lentil', 'Pulses total',
    'Moth', 'Khesari','Ricebean (nagadal)', 'Guar seed']

cereals = ['Rice', 'Paddy', 'Wheat', 'Maize', 'Jowar', 'Bajra', 'Ragi', 'Korra','Barley',
    'Small millets', 'Samai', 'Varagu', 'Other Cereals & Millets', 'Total foodgrain','Tapioca']

oilseeds = ['Castor seed', 'Sunflower', 'Sesamum', 'Niger seed', 'Linseed', 'Groundnut','Coconut ',
    'Soyabean', 'Safflower', 'other oilseeds', 'Oilseeds total', 'Rapeseed &Mustard']

commercial_crops = ['Sugarcane', 'Tobacco',  'Tea', 'Coffee',]    

nuts = ['Arecanut', 'Cashewnut', 'Arcanut (Processed)', 'Atcanut (Raw)',
    'Cashewnut Processed', 'Cashewnut Raw','Other Dry Fruit']

spices = ['Dry ginger', 'Turmeric', 'Dry chillies', 'Black pepper', 'Ginger', 'Garlic',
    'Cond-spcs other', 'Cardamom', 'Black pepper', 'Perilla']


fibres = ['Cotton(lint)', 'Jute', 'Mesta', 'Jute & mesta', 'other fibres','Kapas','Rubber','Sanhemp']

other = ['Jobster']

> **Note**- 

For better analysis, we categorized the crops according to their original categories.

In [88]:
#Define a function to add a crop category column 

def categorize_crop(crop):

    if crop in fruits:
           return 'Fruits'
    elif crop in vegetables:
        return 'Vegetables'
    elif crop in pulses:
        return 'Pulses'
    elif crop in cereals:
        return 'Cereals'
    elif crop in oilseeds:
        return "Oilseeds"
    elif crop in commercial_crops:
        return 'Commercial_crops'
    elif crop in nuts:
        return 'Nuts'
    elif crop in spices:
        return 'Spices'
    elif crop in fibres:
        return 'Fibres'
    else:
        return "Other"

In [96]:
#Add a new column 'Crop_cat' in the dataset
df['crop_cat']=df['Crop'].apply(categorize_crop)
df.head()

,State_Name,District_Name,Crop_Year,Season,Crop,Area,Production,crop_cat
0,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Arecanut,1254.0,2000.0,Nuts
1,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Other Kharif pulses,2.0,1.0,Pulses
2,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Rice,102.0,321.0,Cereals
3,Andaman and Nicobar Islands,NICOBARS,2000,Whole Year,Banana,176.0,641.0,Fruits
4,Andaman and Nicobar Islands,NICOBARS,2000,Whole Year,Cashewnut,720.0,165.0,Nuts

In [97]:
df['crop_cat'].value_counts()

crop_cat
Cereals             65590
Pulses              59229
Oilseeds            48485
Vegetables          34932
Commercial_crops    10687
Fibres              10224
Spices               7926
Fruits               6243
Nuts                 2755
Other                  20
Name: count, dtype: int64